<div id="<%= dom_id idproof %>">
  <p>
    <strong>Document:</strong>
    <%= idproof.document %>
  </p>

  <p>
    <strong>Merchant:</strong>
    <%= idproof.merchant_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= idproof.status %>
  </p>


</div>
