<div id="<%= dom_id productimage %>">

  <p>
    <strong>Image:</strong>
    <%= image_tag productimage.image.url, size:20*20 %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= Product.find(productimage.product_id).name  %>
  </p>
  
</div>