<h1>Editing productimage</h1>

<%= render "form", productimage: @productimage %>

<br>

<div>
<%#= link_to "Edit this productimage", edit_product_productimage_path%>
<%#= link_to "Back to productimages", productimages_path %>
</div>
